:root {
	// Шрифты
	--font-family-main: 'Pragmatica', sans-serif;
	//--font-family-secondary: 'Pragmatica', sans-serif;

	// s
	//--font-size-s: 18px;
	//--font-line-s: 26px;
	//--font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
	//
	//// m
	//--font-size-m: 18px;
	//--font-line-m: 26px;
	//--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
	//
	//// l
	//--font-size-l: 18px;
	//--font-line-l: 26px;
	//--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
	//
	//// xl
	//--font-size-xl: 18px;
	//--font-line-xl: 26px;
	//--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

	// Цвета
	--light-black-color: #1E1E1E;
	--dark-black-color: #000000;
	--light-orange-color: #FF6915;
	--dark-orange-color: #FB5A00;
	--blue-color: #3F71BC;

	// z-index
	--z-header: 10;
	--z-header-catalog: 5;
	--z-header-border: 6;
}