.Header {
	position: relative;
	padding: 0 15px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 100%;
		height: 100%;
		width: 100%;
		background-color: #fff;
		z-index: var(--z-header-border);
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 100%;
		height: 100%;
		width: 100%;
		background-color: #fff;
		z-index: var(--z-header-border);
	}
}

@media (max-width: 768px) and (min-width: 480px) {
	.Header {
		padding: 0 25px;
	}
}