.HeaderSearch {
	border: none;
	font-size: 22px;
	font-weight: 500;
	padding-left: 30px;

	&::placeholder {
		color: #CECECE;
		padding-left: 12px;
	}
}

@media (max-width: 768px) {
	.HeaderSearch {
		font-size: 18px;
	}
}