.AuthLayout {
	margin-bottom: 120px;
	margin-top: 25px;
}

.title {
	font-size: 45px;
	font-weight: 500;
	margin-bottom: 50px;
}

.content {
	display: flex;
	justify-content: space-between;
	border: 1px solid #EAEAEA;
	padding: 40px;
}

