@font-face {
	font-family: 'Pragmatica';
	src: url('src/shared/assets/fonts/Pragmatica-Book.eot') format('embedded-opentype'),
	url('src/shared/assets/fonts/Pragmatica-Book.ttf') format('truetype'),
	url('src/shared/assets/fonts/Pragmatica-Book.woff') format('woff'),
	url('src/shared/assets/fonts/Pragmatica-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Pragmatica';
	src: url('src/shared/assets/fonts/Pragmatica-Medium.eot') format('embedded-opentype'),
	url('src/shared/assets/fonts/Pragmatica-Medium.ttf') format('truetype'),
	url('src/shared/assets/fonts/Pragmatica-Medium.woff') format('woff'),
	url('src/shared/assets/fonts/Pragmatica-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Pragmatica';
	src: url('src/shared/assets/fonts/Pragmatica-Bold.eot') format('embedded-opentype'),
	url('src/shared/assets/fonts/Pragmatica-Bold.ttf') format('truetype'),
	url('src/shared/assets/fonts/Pragmatica-Bold.woff') format('woff'),
	url('src/shared/assets/fonts/Pragmatica-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Pragmatica';
	src: url('src/shared/assets/fonts/PragmaticaCond-ExtraBoldOblique.eot') format('embedded-opentype'),
	url('src/shared/assets/fonts/PragmaticaCond-ExtraBoldOblique.ttf') format('truetype'),
	url('src/shared/assets/fonts/PragmaticaCond-ExtraBoldOblique.woff') format('woff'),
	url('src/shared/assets/fonts/PragmaticaCond-ExtraBoldOblique.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

//@font-face {
//	font-family: 'HelveticaNeueCyr';
//	src: url('src/shared/assets/fonts/HelveticaNeueCyr-Roman.eot') format('truetype'),
//	url('src/shared/assets/fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),
//	url('src/shared/assets/fonts/HelveticaNeueCyr-Roman.woff') format('truetype');
//	font-weight: 400;
//	font-style: normal;
//}
//
//@font-face {
//	font-family: 'HelveticaNeueCyr';
//	src: url('src/shared/assets/fonts/HelveticaNeueCyr-Medium.eot') format('truetype'),
// 			 url('src/shared/assets/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
//	 		 url('src/shared/assets/fonts/HelveticaNeueCyr-Medium.woff') format('truetype');
//	font-weight: 500;
//	font-style: normal;
//}
//
//@font-face {
//	font-family: 'HelveticaNeueCyr';
//	src: url('src/shared/assets/fonts/HelveticaNeueCyr-Bold.eot') format('truetype'),
//	url('src/shared/assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),
//	url('src/shared/assets/fonts/HelveticaNeueCyr-Bold.woff') format('truetype');
//	font-weight: 700;
//	font-style: normal;
//}
//
//@font-face {
//	font-family: 'HelveticaNeueCyr';
//	src: url('src/shared/assets/fonts/HelveticaNeueCyr-Italic.eot') format('truetype'),
//	url('src/shared/assets/fonts/HelveticaNeueCyr-Italic.ttf') format('truetype'),
//	url('src/shared/assets/fonts/HelveticaNeueCyr-Italic.woff') format('truetype');
//	font-weight: 400;
//	font-style: italic;
//}
//
//@font-face {
//	font-family: 'Pragmatica';
//	src: url('src/shared/assets/fonts/PragmaticaCond-Bold.eot') format('truetype'),
//	url('src/shared/assets/fonts/PragmaticaCond-Bold.ttf') format('truetype'),
//	url('src/shared/assets/fonts/PragmaticaCond-Bold.woff') format('truetype'),
//	url('src/shared/assets/fonts/PragmaticaCond-Bold.woff2') format('truetype');
//	font-weight: 700;
//	font-style: normal;
//}
//
//@font-face {
//	font-family: 'Pragmatica';
//	src: url('src/shared/assets/fonts/Pragmatica-Medium.eot') format('truetype'),
//	url('src/shared/assets/fonts/Pragmatica-Medium.ttf') format('truetype'),
//	url('src/shared/assets/fonts/Pragmatica-Medium.woff') format('truetype'),
//	url('src/shared/assets/fonts/Pragmatica-Medium.woff2') format('truetype');
//	font-weight: 500;
//	font-style: normal;
//}