.HeaderIcons {
	display: flex;
	height: 100%;
}

.iconItem {
	width: 70px;
	border-left: 1px solid #EAEAEA;
	transition: .3s;

	&:last-child {
		border-right: 1px solid #EAEAEA;
	}
}

@media (max-width: 992px) {
	.iconItem {
		width: 50px;
	}
}

@media (max-width: 768px) {
	.iconItem {
		width: 70px;
	}
}

@media (max-width: 480px) {
	.HeaderIcons {
		border-left: 1px solid #EAEAEA;
	}
	.iconItem {
		width: 44px;
		border: none;
		&:last-child {
			border: none;
		}
	}
}