.Pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.paginationButton {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 8px 16px;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.2s ease;
}

.paginationPrev {
	.buttonIcon {
		transform: rotate(180deg);
	}
}

.buttonIcon {
	width: 22px;
}

.paginationButton:disabled {
	opacity: 0.5;
	cursor: default;
}

.pages {
	display: flex;
	align-items: center;
	gap: 10px;
}

.page {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 57px;
	height: 56px;
	border: 1px solid #DFDFDF;
	background: transparent;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.2s ease;
}

.page:hover:not(.pageActive) {
	background-color: #f5f5f5;
}

.pageActive {
	background-color: #000;
	color: #fff;
	border-color: #000;
}

.ellipsis {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 57px;
	height: 56px;
	font-size: 14px;
}