.FooterContentItemDesktop {
	//
}

.title {
	font-size: 14px;
	font-weight: 500;
	color: #707070;
	text-transform: uppercase;
}

.link {
	font-size: 15px;
	display: block;
	color: #fff;
	margin-top: 23px;
}